body {
  width: 100%;
  height: 100%;
}

#menu {
  width: 90%;
  height: auto;
  max-width: 750px;
}

#logo {
  width: 100%;
  height: auto;
  padding: 10px;
}

#upLeft:focus,
#upLeft.focus {
  box-shadow: -0.2rem -0.2rem 0 1px rgba(82, 88, 93, 0.5);
}

#up:focus,
#up.focus {
  box-shadow: 0 -0.2rem 0 1px rgba(82, 88, 93, 0.5);
}

#upRight:focus,
#upRight.focus {
  box-shadow: 0.2rem -0.2rem 0 1px rgba(82, 88, 93, 0.5);
}

#left:focus,
#left.focus {
  box-shadow: -0.2rem 0 0 1px rgba(82, 88, 93, 0.5);
}

#stop:focus,
#stop.focus {
  box-shadow: 0 0 0 0;
}

#right:focus,
#right.focus {
  box-shadow: 0.2rem 0 0 1px rgba(82, 88, 93, 0.5);
}

#downLeft:focus,
#downLeft.focus {
  box-shadow: -0.2rem 0.2rem 0 1px rgba(82, 88, 93, 0.5);
}

#down:focus,
#down.focus {
  box-shadow: 0 0.2rem 0 1px rgba(82, 88, 93, 0.5);
}

#downRight:focus,
#downRight.focus {
  box-shadow: 0.2rem 0.2rem 0 1px rgba(82, 88, 93, 0.5);
}

.card {
  border-radius: 3px;
}

.btn {
  border-radius: 3px;
}

.btn-dark {
  border-radius: 0;
}

.btn-dark {
  height: 60px;
  width: 60px;
  padding: 0;
}

.btn-outline-primary {
  border-color: #0033dc;
  color: #0033dc;
  border-radius: 3px;
}

.btn-outline-primary:hover {
  background-color: #0033dc;
}

.text-primary {
  color: #0033dc;
}

.nav-tabs {
  border-bottom-color: #0033dc;
}

.nav-tabs .nav-link.active {
  background-color: #0033dc;
  border-color: #0033dc;
}

.nav-link:hover {
  border-bottom: 0px;
}

@media (max-width: 780px) and (min-width: 768px) {
  .nav-link {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 792px) and (min-width: 781px) {
  .nav-link {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 805px) and (min-width: 793px) {
  .nav-link {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 818px) and (min-width: 806px) {
  .nav-link {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 818px) and (min-width: 806px) {
  .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 831px) and (min-width: 819px) {
  .nav-link {
    padding-left: 11px;
    padding-right: 11px;
  }
}

@media (min-width: 832px) {
  .nav-link {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  border: none;
  line-height: 1;
  margin: 0;
  padding: 0;
}
#cssmenu {
  height: 37px;
  display: block;
  border: 1px solid;
  border-radius: 5px;
  width: auto;
  border-color: #080808;
  margin: 0;
  padding: 0;
}
#cssmenu > ul {
  list-style: inside none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > li {
  list-style: inside none;
  float: left;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu.align-center > ul {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
  margin-left: -3px;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
}
#cssmenu > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid #080808;
  color: #ffffff;
  padding: 12px 20px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 5px;
}
#cssmenu > ul > li > a:after {
  content: '';
  position: absolute;
  border-right: 1px solid;
  top: -1px;
  bottom: -1px;
  right: -2px;
  z-index: 99;
  border-color: #3c3c3c;
}
#cssmenu ul li.has-sub:hover > a:after {
  top: 0;
  bottom: 0;
}
#cssmenu > ul > li.has-sub > a:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 19px;
}
#cssmenu > ul > li.has-sub:hover > a {
  padding-bottom: 14px;
  z-index: 999;
  border-color: #3f3f3f;
}
#cssmenu ul li.has-sub:hover > ul,
#cssmenu ul li.has-sub:hover > div {
  display: block;
}
#cssmenu > ul > li.has-sub > a:hover,
#cssmenu > ul > li.has-sub:hover > a {
  background: #3f3f3f;
  border-color: #3f3f3f;
}
#cssmenu ul li > ul,
#cssmenu ul li > div {
  display: none;
  width: auto;
  position: absolute;
  top: 38px;
  background: #3f3f3f;
  border-radius: 0 0 5px 5px;
  z-index: 999;
  padding: 10px 0;
}
#cssmenu ul li > ul {
  width: 200px;
}
#cssmenu ul ul ul {
  position: absolute;
}
#cssmenu ul ul li:hover > ul {
  left: 100%;
  top: -10px;
  border-radius: 5px;
}
#cssmenu ul li > ul li {
  display: block;
  list-style: inside none;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu ul li > ul li a {
  outline: none;
  display: block;
  position: relative;
  font: 10pt Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 8px 20px;
}
#cssmenu,
#cssmenu ul ul > li:hover > a,
#cssmenu ul ul li a:hover {
  background: #3c3c3c;
  background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #3c3c3c),
    color-stop(100%, #222222)
  );
  background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
}
#cssmenu > ul > li > a:hover {
  background: #080808;
  color: #ffffff;
}
#cssmenu ul ul a:hover {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #ffffff;
}
